* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --blue: #1992D4;
  --gray: #E2E8F0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--gray);
}

.page-container {
  height: 100%;
  display: grid;
  grid-template: 1.5fr 10fr / 2fr 10fr;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  display: grid;
  align-content: start;
  gap: 50px;
  padding: 25px;
  color: #fff;
  background-color: var(--blue);
  font-weight: bold;
}

.sidebar-group ul {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 20px;
  font-size: 18px;
}

.sidebar-group ul a,
.title h1 {
  display: grid;
  grid-template-columns: 43px 1fr;
  align-items: center;
}

.header {
  min-height: 175px;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template: 1.5fr 2fr / 3fr 2fr;
  justify-items: stretch;
  align-items: center;
  padding: 0px 60px 0px 40px;
  background-color: #fff;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  padding-right: max(20px, 5%);
}

.search input {
  width: auto;
  border: none;
  border-radius: 20px;
  padding: 0px 20px;
  min-height: 30px;
  background-color: var(--gray);
  font-size: 16px;
  transition: box-shadow 0.1s ease;
}

.search input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 1px var(--blue);
}

.search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.account {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  padding-right: 20px;
  justify-content: end;
  align-items: center;
}

.account img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.account span {
  font-size: 18px;
  font-weight: bold;
}

.profile {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 20px;
  align-items: center;
  /* justify-self: start; */
}

.profile img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.profile div {
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
}

.profile-handle {
  font-size: 22px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.buttons button {
  border: none;
  border-radius: 2rem;
  min-width: 90px;
  min-height: 35px;
  background-color: var(--blue);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.content {
  grid-row: 2;
  height: fit-content;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 20px;
  padding: 35px 35px 0px 15px;
  background-color: var(--gray);
}

.projects {
  grid-row: 1 / -1;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 15px;
}

.project-card {
  display: grid;
  grid-template-columns: 10px 1fr;
  background-color: #F0B429;
  border-radius: 10px;
  min-height: 150px;
  overflow: hidden;
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  grid-column: 2;
  padding: 40px 25px 30px;
  background-color: #fff;
}

.project-description {
  font-size: 15px;
  color: #7B7B7B;
}

.project-title {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.project-buttons {
  display: flex;
  justify-content: end;
  gap: 30px;
  align-self: end;
}

.announcements {}

.announcement-card {
  background-color: #fff;
  border-radius: 10px;
  min-height: 150px;
  padding: 25px;
  margin-top: 15px;
}

.trending {}

.trending-element {
  background-color: #fff;
  border-radius: 10px;
  min-height: 150px;
  padding: 25px;
  margin-top: 15px;
}